<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BonelliBot.Properties.Settings4" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BonelliBot.Properties.Settings3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BonelliBot.Properties.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BonelliBot.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BonelliBot.Properties.Settings0" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BonelliBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BonelliBot.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BonelliContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=BonelliBot.sdf" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <BonelliBot.Properties.Settings4>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings4>
    <BonelliBot.Properties.Settings3>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings3>
    <BonelliBot.Properties.Settings2>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings2>
    <BonelliBot.Properties.Settings1>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings1>
    <BonelliBot.Properties.Settings0>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings0>
    <BonelliBot.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="privateAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="profilePic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followPerHour" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="followStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unFollowStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comment" serializeAs="String">
        <value />
      </setting>
      <setting name="maxFollow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="minFollow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ipAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="useProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyProtocol" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="followOnlyPrivate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="unfollowNoneFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetFollowers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetLikers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="followMales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="followFemales" serializeAs="String">
        <value>True</value>
      </setting>
    </BonelliBot.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BonelliBot.Properties.AppSettings>
      <setting name="Red" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>65, 106, 180</value>
      </setting>
      <setting name="Green" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ConnectionLost" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="Blocked" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="LblMsgBackColor" serializeAs="String">
        <value>OliveDrab</value>
      </setting>
    </BonelliBot.Properties.AppSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
